<a href="https://colab.research.google.com/github/DanyaFire/Pyprac/blob/main/HW8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача 1**

Напишите программу, которая выводит таблицу умножения от 1 до 10 включительно, размера 10 × 10.

In [3]:
a = []
for i in range(1,11):
  for j in range(1, 11):
    a.append(i * j)
  print(a)
  a.clear()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

**Задача 2**

Напишите программу, которая находит все «пифагоровы тройки» в заданном диапазоне чисел – натуральные решения уравнения $x^2 + y^2 = k^2$
, где x, y и k лежат в
интервале от l до r включительно. В ответе напишите результат работы программы
для l = 10, r = 50

In [19]:
s = input()
l, r = int(s.split()[0]), int(s.split()[1])
counter = 0
for x in range(l, r+1):
  for y in range(l, r+1):
    for k in range(l, r+1):
      if x ** 2 + y ** 2 == k ** 2:
        counter += 1
print(counter)

10 50
26

**Задача 3**

Два различных натуральных числа называются дружественными, если первое из
них равно сумме делителей второго числа, за исключением самого второго числа, а
второе равно сумме делителей первого числа, за исключением самого первого числа.
Напишите программу, которая находит все пары натуральных дружественных чисел
(не равных друг другу). Оба числа пары должны быть меньше, чем введенное с
клавиатуры число N. В ответе запишите результат работы для N = 300.

Замечание: перестановки не считать разными парами. Например, 18 13 и 13 18
-- одна и та же пара

In [26]:
N = int(input())

for i in range(N):
  for j in range(N):
    if i < j and i == sum([d for d in range(1,j) if j % d == 0]) and j == sum([d for d in range(1,i) if i % d == 0]):
      print(i,j)

300
220 284

**Задача 4**

Натуральное число из n цифр является числом Армстронга, если сумма его цифр,
возведенных в степень n, равна самому числу. Например, $153 = 1^3 + 5^3 + 3^3$ для
n = 3. Напишите программу, которая находит все числа Армстронга для n = 4. В
ответе запишите все эти числа через пробел.

In [5]:
n = int(input())

for i in range(10 ** (n - 1), 10 ** n):
  if i == sum([int(t) ** n for t in str(i)]):
    print(i)

4
1634
8208
9474